<svg id="map-container" style='stroke-width: 0px; '
     width="100%" height="100%"
     map-manip
     ng-click="changeVB()"
             >   
    <polygon points="240000,3250000 240000,3250030 240010,3250030"
            style="stroke:purple;stroke-width:1"
                         ></polygon>
<!--    <text x="0" y="0" font-size='22222222' fill='black'>WTF</text>-->
<!--map-manip add as attribute to directive??
ng-attr-viewBox="{{vb}}"
viewBox = "294493.3036 3240046.3036 100000 100000"


<image x="-555" y="-155" width="1300px" height="1300px" xlink:href="{{'img/Galvestonmap.svg'}}"></image>-->
            
<!--        <g class="map">-->
<!--                <line x1="10" y1="10" x2="330" y2="330" stroke-width="4" ng-click="alert(features[110].geometry.type)"></line>-->

            <g ng-repeat="item in features | limitTo : 10000
                          " font-size="32">
<!--ng-click="alert(features[4339].properties.type)"
                <polygon points="294493.3036,3220046.3036 290000.3036,330000.3036 300000.3036,340000.3036"
                         style="fill:lime;stroke:purple;stroke-width:1000"
                         ></polygon>
-->
<!--                <line x1="10" y1="10" x2="430" y2="3330" stroke-width="4" ng-click="alert(eachobj.geometry.type)"></line>-->
<!--                <line stroke-width="444" x1="280493" y1="3200046" x2="293019" y2="3218492"></line>-->
                <line style="stroke:rgb(255,0,0);stroke-width:22"
                        ng-click="alert({{item.geometry.coordinates[1][1]}})"
                      ng-attr-x1="{{item.geometry.coordinates[0][0]}}"
                      ng-attr-y1="{{item.geometry.coordinates[0][1]}}"
                      ng-attr-x2="{{item.geometry.coordinates[1][0]}}"
                      ng-attr-y2="{{item.geometry.coordinates[1][1]}}"></line>
<!--
                <polygon 
                         ng-attr-points="{{pointPath(item.geometry.coordinates)}}"
                         style="stroke:purple;stroke-width:10"
                         ></polygon>
-->
                <text ng-attr-x="{{item.geometry.coordinates[0][0]}}"
                      ng-attr-y="{{item.geometry.coordinates[0][1]}}"
                      fill="blue"
                      font-size="36">
                    {{item.properties.type}}
                    {{item.type}}
                </text>
<!--
                <polygon ng-click="alert(pointPath(item.geometry.coordinates))"
                         ng-attr-points="{{item.geometry.coordinates[0][0]}},{{item.geometry.coordinates[0][1]}} {{item.geometry.coordinates[1][0]}},{{item.geometry.coordinates[1][1]}} {{item.geometry.coordinates[2][0]}},{{item.geometry.coordinates[2][1]}}"
                         style="fill:lime;stroke:purple;stroke-width:100"
                         ></polygon>
-->
<!--
                <text ng-attr-x="{{$index*10}}" y="10">{{item.geometry.type}}</text>
                <text x="{{$index*1000}}" y="100">{{item.geometry.coordinates[0]}}</text>
-->
            </g>  
<!--        </g>-->


        </svg>