<div class="modal">
  
    <div class="bar bar-header bar-positive">
        <ion-button class="button icon-left ion-chevron-left button-clear" ng-click="closeModal()">Cancel</ion-button>
  		<h1 class="title">{{'Now Showing: '+currentFloor.name.toUpperCase()}}</h1>
	</div>
    <ion-content has-header="true" padding="true">
		<form name="form" ng-model="currFloor" action="newFloor(currFloor)">
            <br><br><br><!--why is this disappearing under title??-->
			<ion-list>
                  <li class="item item-input item-select">
                      <div class="input-label">
                          Select Floor
                      </div>
                      <select ng-model="currFloor" 
		                required
		                style="float:right;position:relative"
		                ng-options="currFloor.toUpperCase() for currFloor in floorLists">
		              <option value="">{{currentFloor.name.toUpperCase()}}</option>
		              </select>
                    </li>
                <ion-button class="button button-block button-positive" ng-click="newFloor(currFloor)">
		  				Go to {{currFloor || currentFloor.name}}
				</ion-button>
                    <li class="item item-input item-stacked-label">
				  	<span class="input-label">Add Own Name</span>
				    <input type="text" placeholder="" name="FloorName" ng-model="FloorName"  />					
				    </li>
				
                <ion-button class="button button-block button-positive" ng-click="changeFloorName(currFloor)">
		  				Change This Floor Name
				</ion-button>
				<li ng-if="(currentRoom)" class="item item-input item-select">
                      <div class="input-label">
                          Select Room
                      </div>
                      <select ng-model="currRoom" 
		                required
		                style="float:right;position:relative"
		                ng-options="currRoom.toUpperCase() for currRoom in roomLists">
		              <option value="">{{currentRoom.properties.name.toUpperCase()}}</option>
		              </select>
                    </li>
                <ion-button ng-if="(currentRoom)" class="button button-block button-positive" ng-click="newFloor(currFloor)">
		  				Go to {{currRoom || currentRoom.name}}
				</ion-button>
                
    <!--need all the other things to add from the lists!!-->            
                
                    <li ng-if="(currentRoom)" class="item item-input item-stacked-label">
				  	<span class="input-label">Add Own Name</span>
				    <input type="text" placeholder="" name="RoomName" ng-model="RoomName"  />					
				    </li>
				
                <ion-button ng-if="(currentRoom)" class="button button-block button-positive" ng-click="changeRoomName(currRoom)">
		  				Change This Floor Name
				</ion-button>
			</ion-list>
		</form>
    </ion-content>
    
  </div>