<ion-side-menus>
    <ion-side-menu width="{{gridWd}}" id="grid" side="left" drag-content="false">
        
<div id="floor-wrap">
    
    <div id="grid-container">
<!--        <ion-nav-view id="floor-wrap" name="floor"></ion-nav-view>-->
            <svg id="floor-container" style='stroke-width: 0px; '
             viewBox = "0 0 2000 2000"
             grid-manip>
            <g ng-show="gridShow5" 
               stroke="#6bea3b" 
               stroke-dasharray="5,5,5,5,5,5" 
               fill="#fcfbfa" 
               fill-opacity="0.2" 
               stroke-width="1">
                <line ng-repeat="gridpt in gridLineNumber(canvasSize,50)" ng-attr-x1="{{gridpt}}" y1="0" ng-attr-x2="{{gridpt}}" ng-attr-y2="{{canvasSize}}" />
                <line ng-repeat="gridpt in gridLineNumber(canvasSize,50)" x1="0" ng-attr-y1="{{gridpt}}" ng-attr-x2="{{canvasSize}}" ng-attr-y2="{{gridpt}}" />  
    
            </g>    

            <g 
               ng-show="gridShow1" stroke="#6bea3b" stroke-dasharray="2,2,2,2,2,2" fill="#fcfbfa" fill-opacity="0.2" stroke-width=".2">
                
                <line ng-repeat="gridpt in gridLineNumber(canvasSize,10)" ng-attr-x1="{{gridpt}}" y1="0" ng-attr-x2="{{gridpt}}" ng-attr-y2="{{canvasSize}}" />
                <line ng-repeat="gridpt in gridLineNumber(canvasSize,10)" x1="0" ng-attr-y1="{{gridpt}}" ng-attr-x2="{{canvasSize}}" ng-attr-y2="{{gridpt}}" />            
                
            </g> 
            
<!--            <g ng-repeat="floor in currentInspection.floors">
			-->
			<g floor-manip
               floor='floor'
			   id="wholeFloor">
                
                <polygon class="floorShowline" 
                         ng-attr-points="{{floor.points}}"/>
            
            <g class="roomLines" 
               ng-repeat="room in currentFloor.rooms track by $index"
               room = 'room'
               room-manip >
                    
                <text x="{{room.roomPoints[0][0]+5}}" 
                      y="{{room.roomPoints[0][1]+10}}" 
                      font-size="12"
                      >{{room.properties.name}}</text>
                
                <polygon stroke="#2050ba" fill="#fcfbfa" fill-opacity="0.1" stroke-width="2" 
                         hm-drag = "dragShapes($event)"
                         hm-double-tap = "centerView($event)"
                         class="roomShowLine" 
                         ng-attr-points="{{pointPath(room.roomPoints)}}" 
                />
                <g ng-repeat="(i, vals) in room.roomPoints track by i">
                    <circle 
                        class="roomEditLine"
                        ng-attr-cx="{{vals[0]}}"
                        ng-attr-cy="{{vals[1]}}"
                        r = 6
                    />
                </g>
                <!--if event target is circle, then...-->
                <g ng-repeat="(ind,vals) in room.measurePoints track by ind">
                    <text ng-attr-x="{{vals[0]}}"
                          ng-attr-y="{{vals[1]}}"
                          font-size="12"
						  class="roomEditLine"
                            >{{vals[2]/10}}'
                    </text>
                </g>
                <g ng-repeat="(indic,values) in layoutObjs track by indic"
                       >
                    <g icon-manip iconpts="layoutObjs" currentRoom="currentRoom">
                    <image ng-attr-x="{{values[0]+currentFloor.rooms[$index].roomPoints[0][0]}}" 
                           ng-attr-y="{{values[1]+currentFloor.rooms[$index].roomPoints[0][1]}}" 
                           ng-attr-width="{{iconWidth}}" 
                           ng-attr-height="{{iconHeight}}"
                           hm-drag = "dragLayoutObjs($event,indic)"
                           hm-tap = "openNote()"
                           xlink:href="{{'img/'+values[2]+'.png'}}"></image>
                    </g>
               </g>
                </g>
            </g>

        </svg>
<!--        <div ng-include="'partials/floor.html'"></div>-->
    </div>
        
    <div id="noteBox" ng-show="showNote">
        <div id="noteTopBar">
            <img ng-src="{{noteIcon}}" /> 
            <img href="" style="display:none;position:absolute;width:60px;height:60px;float:right;" 
                 id="smallImage" 
                 src="" />
            <img id="cameraIcon" 
                 ng-click="takePicture()"
                ng-src="img/camera.png"/>
            <span id="noteClose"
                  ng-click="showNote = !showNote">X</span>
        </div>
        <textarea id="noteText"
                  ng-click="focus()"
                  ng-model="note">

        </textarea>
    </div>
            
			<div id="floor-controls">
		        <img id="magnifySmaller" 
		                 ng-click="magnifyGrid(.9)"
		                 ng-src="img/zoomout.svg" />
		         <select ng-model="currentFloor" 
		                required
		                style="float:right;position:relative"
		                ng-change="newFloor(currentFloor)"
		                ng-options="currentFloor.toUpperCase() for currentFloor in floorLists">
		            <option value="">{{currentFloor.name.toUpperCase()}}</option>
		        </select>
		        <select ng-model="room" 
		                style="float:right"
		                required
		                ng-change="newRoom(room)"
		                ng-if="(currentFloor)"
		                ng-options="room for room in roomLists">
		            <option value="">-- choose room --</option>
		        </select>
		        <select ng-model="inRoomAction" 
						id="roomAction"
		                style="float:right"
		                ng-change="action4room(action)"
		                ng-if="(currentRoom)"
		                ng-options="action for action in actionLists">
		            <option value="">-- add to room --</option>
		        </select>
		        <img id="magnifyLarger" 
		                 ng-click="magnifyGrid(1.1)"
		                 ng-src="img/zoomin.svg" />
		        </div>
  	   </div>
        
    </ion-side-menu>
        
<!--    <ion-side-menu id="leftSideMenu" width="80" side="left" expose-aside-when="large">-->
<!--
        <ion-header-bar class="bar bar-header bar-dark">
            <h1 class="title">
                <div id="menubg">  
		      <div id="wrap_menus">
                <div id="minilogo">
                    <div class="wrapanimate2">
                    <div class="cube2">
                        <div class="front2"><img class ="front_image2" src="img/logo_big.svg"></div>
   
                    </div>
                    </div>
                </div>
              </div>
            </div>
            </h1>
        </ion-header-bar>
        <ion-view name="sideLeft"></ion-view>-->
        
<!--        <div ng-include="'partials/left.html'"></div>-->
    

    

<!--        </ion-side-menu>-->

    <ion-side-menu-content ng-click="toggleLeftSideMenu()">
        <ion-view name="questions"></ion-view>
    </ion-side-menu-content>
		 

<!--
	<div id="side_tabs" ng-controller="tabCtrl">
		<span class="side_tabs" ng-repeat="tab in tabs"><a ui-sref="questions.tabs({tabId: tab.id})"><img ng-src="{{tab.imageUrl}}"></a></span>
	</div>	
-->

    


</ion-side-menus>
