<div id="wrapper"> 
<!--<ion-view>-->
<!--
    <div ng-include="'partials/topMenu.html'">
    </div>
-->
<ion-side-menus>
    <ion-side-menu id="grid" side="left" drag-content="true">
        

    
    <div id="grid-container" ng-click="alert('fuck you')">
<!--        <ion-nav-view id="floor-wrap" name="floor"></ion-nav-view>-->
            <svg id="floor-container" style='stroke-width: 0px; '
             viewBox = "0 0 2000 2000"
             grid-manip>
            <g ng-show="gridShow5" 
               stroke="#6bea3b" 
               stroke-dasharray="5,5,5,5,5,5" 
               fill="#fcfbfa" 
               fill-opacity="0.2" 
               stroke-width="1">
                <animate ng-if="dragtheGrid" attributeType="CSS" attributeName="stroke-dasharray" 
         from="5,5,5,5,5,5" to="2,2,2,2,2,2" dur="16s" repeatCount="indefinite" />
                <line ng-repeat="gridpt in gridLineNumber(canvasSize,50)" ng-attr-x1="{{gridpt}}" y1="0" ng-attr-x2="{{gridpt}}" ng-attr-y2="{{canvasSize}}" />
                <line ng-repeat="gridpt in gridLineNumber(canvasSize,50)" x1="0" ng-attr-y1="{{gridpt}}" ng-attr-x2="{{canvasSize}}" ng-attr-y2="{{gridpt}}" />  
    
            </g>    
<!--<image x="-555" y="-155" width="1300px" height="1300px" xlink:href="{{'img/Galvestonmap.svg'}}"></image>-->

            <g 
               ng-show="gridShow1" stroke="#6bea3b" stroke-dasharray="2,2,2,2,2,2" fill="#fcfbfa" fill-opacity="0.2" stroke-width=".2">
                
                <line ng-repeat="gridpt in gridLineNumber(canvasSize,10)" ng-attr-x1="{{gridpt}}" y1="0" ng-attr-x2="{{gridpt}}" ng-attr-y2="{{canvasSize}}" />
                <line ng-repeat="gridpt in gridLineNumber(canvasSize,10)" x1="0" ng-attr-y1="{{gridpt}}" ng-attr-x2="{{canvasSize}}" ng-attr-y2="{{gridpt}}" />            
                
            </g> 
            
            <g class="floorLines" stroke="#bb3bea" fill="none" fill-opacity="0.2" stroke-width="3">
                
                <polygon class="floorShowline" 
                         ng-click="alert('whole rect')"
                         hm-dragend="dragFloors($event)"
                         hm-hold="svgEdit=!svgEdit" 
                         ng-attr-points="{{pointPath(floorPoints)}}"/>

            </g>
            <g class="roomLines" ng-repeat="(rm, name) in currentFloor.rooms"
               room-manip roompts="currentFloor.rooms[$index].roomPoints" 
                   measurepts="currentFloor.rooms[$index].measurePoints">
                    
                <text ng-attr-x="{{currentFloor.rooms[$index].roomPoints[0][0]+5}}" 
                      ng-attr-y="{{currentFloor.rooms[$index].roomPoints[0][1]+12}}" 
                      font-size="12"
                      class="roomEditLine"
                      >{{name[0]}}</text>
                <polygon stroke="#2050ba" fill="#fcfbfa" fill-opacity="0.1" stroke-width="2" 
                         hm-drag = "dragShapes($event)"
                         hm-double-tap = "centerView($event)"
                         class="roomShowLine" 
                         ng-attr-points="{{pointPath(currentFloor.rooms[$index].roomPoints)}}" 
                />
    
                <g ng-repeat="(i, vals) in currentFloor.rooms[$index].roomPoints">
                    <circle 
                        hm-drag = "dragPoints($event,i)"
                        class="roomEditLine"
                        ng-attr-cx="{{vals[0]}}"
                        ng-attr-cy="{{vals[1]}}"
                        r = 6
                    />
                </g>
                <g id="measures2show"
                   ng-repeat="(ind,vals) in currentFloor.rooms[$index].measurePoints track by ind">
<!--
                <g id="measures2show" ng-show="!roomLineEdit" ng-repeat="(ind,vals) in showMeasures(currentFloor.rooms[$index].roomPoints) track by ind"
                   >
-->
<!--    If we want it to show on the line, or when not in edit
                    <rect ng-attr-x="{{vals[0]-10}}" ng-attr-y="{{vals[1]-8}}" 
                          width="30" height="15" fill="white">
                    </rect>
-->
                    
                    <text ng-attr-x="{{vals[0]}}"
                          ng-attr-y="{{vals[1]}}"
                          font-size="12"
                          class="roomEditLine"
                            >{{vals[2]/10+"'"}}
                    </text>
                </g>
                <g ng-repeat="(indic,values) in layoutObjs track by indic"
                       >
                    <g icon-manip iconpts="layoutObjs" currentRoom="currentRoom">
                    <image ng-attr-x="{{values[0]+currentFloor.rooms[$index].roomPoints[0][0]}}" 
                           ng-attr-y="{{values[1]+currentFloor.rooms[$index].roomPoints[0][1]}}" 
                           ng-attr-width="{{iconWidth}}" 
                           ng-attr-height="{{iconHeight}}"
                           hm-drag = "dragLayoutObjs($event,indic)"
                           hm-tap = "openNote()"
                           xlink:href="{{'img/'+values[2]+'.png'}}"></image>
                    </g>
               </g>

            </g>

        </svg>
<!--        <div ng-include="'partials/floor.html'"></div>-->
    </div>
        
    <div id="noteBox" ng-show="showNote">
        <div id="noteTopBar">
            <img ng-src="{{noteIcon}}" /> 
            <img href="" style="display:none;position:absolute;width:60px;height:60px;float:right;" 
                 id="smallImage" 
                 src="" />
            <img id="cameraIcon" 
                 ng-click="takePicture()"
                ng-src="img/camera.png"/>
            <span id="noteClose"
                  ng-click="showNote = !showNote">X</span>
        </div>
        <textarea id="noteText"
                  ng-click="focus()"
                  ng-model="note">

        </textarea>
    </div>
            <div id="floor-controls" ng-click="roomLineEdit=!roomLineEdit">
        
        <div id="mag-controls" grid-manip>
        <img ng-click="hideFloor = !hideFloor"
             ng-dblclick="gridDrag()" 
                style="width:20px"
                 ng-src="img/gridDrag.png" />
        <img id="magnifySmaller" 
                 ng-click="magnifyGrid(.5)"
                 ng-src="img/magnify.png" />
        
        <img id="magnifyLarger" 
                 ng-click="magnifyGrid(2)"
                 ng-src="img/magnify.png" />
        </div> 
            <select ng-model="floor" 
                required
                style="float:right"
                ng-change="newFloor(floor)"
                ng-options="floor for floor in floorLists">
            <option value="">-- choose floor --</option>
        </select>
        <br>
        <select ng-model="room" 
                style="float:right"
                required
                ng-change="newRoom(room)"
                ng-if="(floor)"
                ng-options="room for room in roomLists">
            <option value="">-- choose room --</option>
        </select>
         
        </div>
        
    </ion-side-menu>
        
<!--    <ion-side-menu id="leftSideMenu" width="80" side="left" expose-aside-when="large">-->
<!--
        <ion-header-bar class="bar bar-header bar-dark">
            <h1 class="title">
                <div id="menubg">  
		      <div id="wrap_menus">
                <div id="minilogo">
                    <div class="wrapanimate2">
                    <div class="cube2">
                        <div class="front2"><img class ="front_image2" src="img/logo_big.svg"></div>
   
                    </div>
                    </div>
                </div>
              </div>
            </div>
            </h1>
        </ion-header-bar>
        <ion-view name="sideLeft"></ion-view>-->
        
<!--        <div ng-include="'partials/left.html'"></div>-->
    

    

<!--        </ion-side-menu>-->

    <ion-side-menu-content>
        <ion-view name="questions"></ion-view>
    </ion-side-menu-content>
		 

<!--
	<div id="side_tabs" ng-controller="tabCtrl">
		<span class="side_tabs" ng-repeat="tab in tabs"><a ui-sref="questions.tabs({tabId: tab.id})"><img ng-src="{{tab.imageUrl}}"></a></span>
	</div>	
-->

    


</ion-side-menus>

<!--    </ion-content>-->
</div>