<!--
<ion-view ng-click="chooseFloor()"
          title="{{currentInspection.address + ': <b>' + currentFloor.name.toUpperCase() + '</b> floor'}}"
          >
-->
<ion-view>
    <ion-nav-buttons>
      <button class="button" ng-click="chooseFloor()" side="left">
        {{currentInspection.address + ": "+currentFloor.name.toUpperCase()}}
      </button>
      <button class="button" ng-click="magnifyGrid(.9)" side="left">
        <img id="magnifySmaller" ng-src="img/zoomout.svg" />
      </button>
      <button class="button" ng-click="magnifyGrid(1.1)" side="left">
        <img id="magnifyLarger" ng-src="img/zoomin.svg" />
      </button>
    </ion-nav-buttons>
    
    <ion-side-menus>
    <ion-side-menu width="{{gridWd}}" id="grid" side="left" drag-content="false">
<div id="floor-wrap">
    
    <div id="grid-container">
<!--        <ion-nav-view id="floor-wrap" name="floor"></ion-nav-view>-->
            <svg id="floor-container" style='stroke-width: 0px; '
             viewBox = "0 0 2000 2000"
             grid-manip>
                
            <g ng-show="gridShow5" 
               stroke="#6bea3b" 
               stroke-dasharray="5,5,5,5,5,5" 
               fill="#fcfbfa" 
               fill-opacity="0.2" 
               stroke-width="1">
                <line ng-repeat="gridpt in gridLineNumber(canvasSize,50)" ng-attr-x1="{{gridpt}}" y1="0" ng-attr-x2="{{gridpt}}" ng-attr-y2="{{canvasSize}}" />
                <line ng-repeat="gridpt in gridLineNumber(canvasSize,50)" x1="0" ng-attr-y1="{{gridpt}}" ng-attr-x2="{{canvasSize}}" ng-attr-y2="{{gridpt}}" />  
    
            </g>    

            <g 
               ng-show="gridShow1" stroke="#6bea3b" stroke-dasharray="2,2,2,2,2,2" fill="#fcfbfa" fill-opacity="0.2" stroke-width=".2">
                
                <line ng-repeat="gridpt in gridLineNumber(canvasSize,10)" ng-attr-x1="{{gridpt}}" y1="0" ng-attr-x2="{{gridpt}}" ng-attr-y2="{{canvasSize}}" />
                <line ng-repeat="gridpt in gridLineNumber(canvasSize,10)" x1="0" ng-attr-y1="{{gridpt}}" ng-attr-x2="{{canvasSize}}" ng-attr-y2="{{gridpt}}" />            
                
            </g> 
				
			<g id="wholeFloor">

            <g class="floorLines" 
               ng-repeat="(id, room) in shapes track by id"
               room = 'room'
               openAdd2room = 'add2room()'
               room-manip >
                <g ng-repeat="lines in room.measurePoints"
                   ng-show="(!room.editLines)">
                    <path id="{{id+'textPath'}}" 
                          line-manip linepoints='lines'
                          ng-if="(lines[1].pathType=='Line')"
                          stroke="white" stroke-opacity="1" stroke-width="24"
                        ng-attr-d="M{{lines[0].points[0][0]}} {{lines[0].points[0][1]}}
                            L{{lines[1].points[0][0]}} {{lines[1].points[0][1]}}"
                    />
 
                    <text font-size="12pt" fill="blue" >
                        <textPath xlink:href="{{'#'+id+'textPath'}}" 
                                  startOffset="50%">{{lines[4]}}'</textPath>
                    </text>
                </g>
                      
                <path ng-attr-d="{{svgPath(room.svgPoints)}}" stroke="#2050ba" fill="#fcfbfa" fill-opacity="0.1" stroke-width="2"/>
                
                <text 
                      ng-attr-x={{20+room.svgPoints[0].points[0][0]}}
                      ng-attr-y={{20+room.svgPoints[0].points[0][1]}}
                      >{{room.properties.name}}</text>
				
                <g ng-show="(!room.editLines)"
                   ng-repeat="(i, vals) in room.svgPoints track by i">
					
                    <circle stroke="#030303" stroke-width="1"
                        circle-manip circpoints="vals.points[0]"
                        ng-attr-cx={{vals.points[0][0]}}
                        ng-attr-cy={{vals.points[0][1]}}
                        r = 16
                    />
                    <!--seems to not need an ng-if on fail below-->
                    <circle ng-if=(vals.points[1])
                        stroke="#ba202c" stroke-width=".1"
                        circle-manip circpoints="vals.points[1]"
                        ng-attr-cx={{vals.points[1][0]}}
                        ng-attr-cy={{vals.points[1][1]}}
                        r = 16
                    />
                    <circle ng-if=(vals.points[1])
                        stroke="#ba202c" stroke-width=".1"
                        circle-manip circpoints="vals.points[2]"
                        ng-attr-cx={{vals.points[2][0]}}
                        ng-attr-cy={{vals.points[2][1]}}
                        r = 16
                    />
                    <line ng-if=(vals.points[1])
                          stroke="#ba202c" stroke-width=".5"
                          ng-attr-x1={{vals.points[1][0]}}
                          ng-attr-y1={{vals.points[1][1]}}
                          ng-attr-x2={{vals.points[2][0]}}
                          ng-attr-y2={{vals.points[2][1]}} />
                </g>

                

                <g ng-repeat="(indic,values) in layoutObjs track by indic"
                       >
                    <g icon-manip iconpts="layoutObjs" currentRoom="currentRoom">
                    <image ng-attr-x="{{values[0]+currentFloor.rooms[$index].roomPoints[0][0]}}" 
                           ng-attr-y="{{values[1]+currentFloor.rooms[$index].roomPoints[0][1]}}" 
                           ng-attr-width="{{iconWidth}}" 
                           ng-attr-height="{{iconHeight}}"
                           hm-drag = "dragLayoutObjs($event,indic)"
                           hm-tap = "openNote()"
                           xlink:href="{{'img/'+values[2]+'.png'}}"></image>
                    </g>
               </g>
            </g>
		</g>
        </svg>
<!--        <div ng-include="'partials/floor.html'"></div>-->
    </div>

<!--Should we have a box that is populated when viewed, or make full boxes and make invisible? Will need to put in a modal-->
    <div id="noteBox" ng-show="showNote">
        <div id="noteTopBar">
            <img ng-src="{{noteIcon}}" /> 
            <img href="" style="display:none;position:absolute;width:60px;height:60px;float:right;" 
                 id="smallImage" 
                 src="" />
            <img id="cameraIcon" 
                 ng-click="takePicture()"
                ng-src="img/camera.png"/>
            <span id="noteClose"
                  ng-click="showNote = !showNote">X</span>
        </div>
        <textarea id="noteText"
                  ng-click="focus()"
                  ng-model="note">

        </textarea>
    </div>
            

  	   </div>
        
    </ion-side-menu>
        
<!--    <ion-side-menu id="leftSideMenu" width="80" side="left" expose-aside-when="large">-->
<!--
        <ion-header-bar class="bar bar-header bar-dark">
            <h1 class="title">
                <div id="menubg">  
		      <div id="wrap_menus">
                <div id="minilogo">
                    <div class="wrapanimate2">
                    <div class="cube2">
                        <div class="front2"><img class ="front_image2" src="img/logo_big.svg"></div>
   
                    </div>
                    </div>
                </div>
              </div>
            </div>
            </h1>
        </ion-header-bar>
        <ion-view name="sideLeft"></ion-view>-->
        
<!--        <div ng-include="'partials/left.html'"></div>-->
    

    

<!--        </ion-side-menu>-->

    <ion-side-menu-content ng-click="toggleLeftSideMenu()">
        <ion-view name="questions"></ion-view>
    </ion-side-menu-content>
		 

<!--
	<div id="side_tabs" ng-controller="tabCtrl">
		<span class="side_tabs" ng-repeat="tab in tabs"><a ui-sref="questions.tabs({tabId: tab.id})"><img ng-src="{{tab.imageUrl}}"></a></span>
	</div>	
-->

    


</ion-side-menus>
</ion-view>