<div class="modal">
  
    <div class="bar bar-header bar-positive">
        <ion-button class="button icon-left ion-chevron-left button-clear" ng-click="closeLineModal()">Cancel</ion-button>
  		<h1 class="title">After corner {{ind4new}} at x:{{newX}} and y:{{newY}}</h1>
	</div>
    <ion-content has-header="true" padding="true">
            <br><br><br><!--why is this disappearing under title??-->
			<ion-list>
				<li class="item item-input item-select">
                      <div class="input-label">
                          Select a new segment type
                      </div>
                      <select ng-model="rmModal.pthTyp" 
		                required
		                ng-options="pth as pthTyp for (pthTyp, pth) in rmModal.pathTypes">
		              <option value="">{{pth}}</option>
		              </select>
                    </li>
                <ion-button class="button button-balanced" ng-click="addSegment(fingerX,fingerY,rmModal.pthTyp,ind4new,newX,newY)">
		  				Add {{rmModal.pathTypes[rmModal.pthTyp]}} to room
				</ion-button>
                <ion-button class="button button-assertive" ng-click="removeSegment(ind4new)">
		  				Remove {{pathType}} from room
				</ion-button>
			</ion-list>
			<div style="width:90%;position:absolute;top:200px;left:100px" ng-include="'templates/outline.html'">
			<!-- <ion-view style="width:100%;height:150px;" name="outline@secure"></ion-view> -->
    </ion-content>
	
    <!--could have a small window preview of room with new figure updating in an svg 
	-->
  </div>