<!DOCTYPE html>
<div id="wrapper">
	<ion-view title="Healthy Homes Inspections Management">
	    <ion-content>
		<form class="submit" ng-submit="submit()">
	        <div id="lots" class="list list-inset">
	            <label class="item item-input">
	                <input type="text" autocomplete="off" autocorrect="off"
	                       autocapitalize="off" spellcheck="false"
	                       ng-model="$parent.userName" placeholder="email">
	            </label>
	            <label class="item item-input">
	                <input type="password" 
	                       autocomplete="off" autocorrect="off" 
	                       autocapitalize="off" spellcheck="false"
	                       ng-model="$parent.passWord" placeholder="Password">
	            </label>
	
	            <button ng-click="submit()" class="button button-block button-positive">
	                Login</button>
	            <a class="button button-icon icon ion-asterisk" ui-sref="register">REGISTER HERE</a>
	        </div>
	        
	        <div class="Aligner">
	            <img src="img/DASH.svg" alt="honors_logo">
	        </div>
		</form>
	    </ion-content>
	</ion-view>
</div>
