<svg id="floor-container-outline" style='stroke-width: 0px; '
             viewBox = "{{rmMinX}} {{rmMinY}} {{rmMaxX}} {{rmMaxY}}">
<!--ng-attr gets rid of warning but skews result-->

            <!-- <g room = 'room' gridmag = 'gridmag'
               room-manip-->


                <path id="{{'roomPath'+room.properties.name}}"
					ng-attr-d="{{modalSvgPath(room.svgPoints)}}"
					stroke="#2050ba" fill="#fcfbfa"
					fill-opacity=".01" stroke-width="2"/>

                <text 
					font-size="8pt"
					fill="black">
                    <textPath xlink:href="{{'#roomPath'+room.properties.name}}"
							dominant-baseline="hanging"
                              startOffset="2%">{{room.properties.name}}</textPath>
				</text>

                <g ng-repeat="lines in room.measurePoints">
					<!-- <text x='122' y='122' ng-click="alert(room.svgPoints[ind4new])">{{$index}}</text> -->
                    <path stroke="white" stroke-opacity=".01" stroke-width="14"
                        ng-attr-d="M{{lines[0].points[0][0]}} {{lines[0].points[0][1]}}
                            L{{lines[1].points[0][0]}} {{lines[1].points[0][1]}}"
                    />
					<!-- could put an iterator on the scope to take care of when ind4new-2 < 0
						<g ng-if="room.svgPoints[ind4new-1].pathType=='CubicBezier' || room.svgPoints[ind4new-1].pathType=='QuadBezier'">
						 ng-if="room.svgPoints[ind4new-1].pathType=='CubicBezier'"
						<text x='122' y='122'>UGH</text></g> -->
				<g ng-if=(ind4new==$index)>
                    <path ng-click="alert('M{{room.svgPoints[ind4new].points[0][0]}} {{room.svgPoints[ind4new].points[0][1]}} C{{lines[1].points[2][0]}} {{lines[1].points[2][1]}} {{lines[1].points[1][0]}} {{lines[1].points[1][1]}} {{room.svgPoints[ind4new+1].points[0][0]}} {{room.svgPoints[ind4new+1].points[0][1]}}')"
                          stroke="red" stroke-opacity="1" stroke-width="3"
                        ng-attr-d="M{{lines[0].points[0][0]}} {{lines[0].points[0][1]}}
                            L{{lines[1].points[0][0]}} {{lines[1].points[0][1]}}"
                    />
                    <path fill="#fcfbfa" fill-opacity=".01" 
                          stroke="yellow" stroke-opacity="1" stroke-width="3"
                        ng-attr-d="M{{room.svgPoints[ind4new].points[0][0]}} {{room.svgPoints[ind4new].points[0][1]}} C{{lines[1].points[2][0]}} {{lines[1].points[2][1]}} {{lines[1].points[1][0]}} {{lines[1].points[1][1]}} {{room.svgPoints[ind4new+1].points[0][0]}} {{room.svgPoints[ind4new+1].points[0][1]}}"
                    />
                    <path ng-if="room.svgPoints[ind4new-1].pathType=='QuadBezier'"
                          stroke="purple" stroke-opacity="1" stroke-width="3"
                        ng-attr-d="M{{room.svgPoints[ind4new].points[0][0]}} {{room.svgPoints[ind4new].points[0][1]}} Q{{lines[1].points[1][0]}} {{lines[1].points[1][1]}} {{room.svgPoints[ind4new+1].points[0][0]}} {{room.svgPoints[ind4new+1].points[0][1]}}"
                    />
                    <circle
                        fill="none" stroke="#eb321a" stroke-width="3"
						gridmag = 'gridmag'
                        ng-attr-cx={{lines[0].points[0][0]}}
                        ng-attr-cy={{lines[0].points[0][1]}}
                        r = 8
                    />
				</g>
                    <circle 
                        fill="none" stroke="#86eb51" stroke-width="2" 
                        ng-attr-cx={{newX}}
                        ng-attr-cy={{newY}}
                        r = 10
                    />
                </g>
				


        </svg> 
