<!-- COULD BE USED FOR HREF-Links, etc, but might turn it off for performance sake-->

<div class="modal" style="overflow:scroll">
    
    <div class="bar bar-header bar-positive">
		<ion-button class="button button-clear" ng-click="newRoomObj('Flag',room.currNote,room.importColor)" style="position:absolute;top:10%;left:35%;">Place</ion-button>
		<span style="position:absolute;width:7%;height:100%;top:0px;left:45%;background-color:white;cursor:pointer" 
				ng-click="newRoomObj('Flag',room.currNote,room.importColor)"
				ng-include="'templates/outline.html'"></span>
        <ion-button class="button icon-left ion-close button-clear" ng-click="closeAddRoomModal()">Cancel</ion-button>
		
		<ion-button class="button button-right button-clear ion-flag" style="color:{{room.importColor}}" ng-click="toggleImport()">
	</ion-button>
	
  		
	<!--I think this can add objects through a $scope, so could be accessible and work without rooms
	it should have a way that it can be attached to a point so it will drag - perhaps a schematic? 
		these objects, once added, should allow to click to edit, resize, minimize, or add photos to the notes, etc.
		as with rooms, when do they share points/walls?-->
  </div>
  <ion-list>
	<br><br>
  	<item>
		 <textarea ng-model="room.currNote" placeholder="Add a comment..."> 
             {{room.currNote}}</textarea> 
	</item>
      <ion-button class="button button-clear" ng-click="alert(importColor)" style="position:absolute;top:40%;left:35%;">Place</ion-button>
    <item ng-repeat="question in room.questions">
		 <textarea ng-model="question" placeholder="Answer here..."> 
             {{room.question}}</textarea> 
	</item>
  	<item>
  		<ion-button class="button button-block button-positive icon-left ion-ios7-camera-outline" ng-click="snapPicture(noteId)">Take Photo With Camera</ion-button>
  		<ion-button class="button button-block 
			button-positive icon-left ion-ios7-folder-outline" 
			ng-click="picFromLocalFile(noteId)">Add Photo From File
		</ion-button>
		<ion-button class="button button-positive button-block" ng-click="newRoomObj('Image',room.currNote,room.importColor)" style="position:absolute;top:10%;left:35%;">Place Image</ion-button>
	</item>
	
  <item>
  <div style="position:absolute;top:200px;width:90%;">
	   <img ng-src="{{room.currImgURI | trusted}}"> 
	   <!--test without testText-->
	  <img style="position:relative;width:100%;" id="wtf" src="{{testText | trusted}}"/> 
  </div>
</item>

  
</div>
    
  <!-- <ion-view title="Maps">
    <ion-content class="has-header padding scroll">
  	<div class="list">
  		<form name="myForm">
  			<item class="item item-icon-left"><i class="icon ion-chatbubble-working"></i>
  			<label class="item item-input">
  				<textarea ng-model="obj.text" name="posttext" rows="4"></textarea>
  			</label>
  			</item>
  			<div class="item">
  				<button class="button button-block button-positive icon-left ion-ios7-camera" ng-click="takePicture()">Camera</button>
  			</div>
  			<div class="padding">
  				<button class="button button-block button-positive icon-right ion-chevron-right" ng-disabled="!imp.text" ng-click="update(obj)">Upload</button>
  			</div>
  		</form>
  	</div>
    </ion-content>
  </ion-view> -->