<!-- COULD BE USED FOR HREF-Links, etc, but might turn it off for performance sake-->

<div class="modal" style="overflow:scroll">
    
    <div class="bar bar-header bar-positive">
        <ion-button class="button icon-left ion-close button-clear" ng-click="closeAddRoomModal()">Cancel</ion-button>
		<ion-button class="button button-right button-clear ion-flag" ng-click="place()">
	Place</ion-button>
  		
	<!--I think this can add objects through a $scope, so could be accessible and work without rooms
	it should have a way that it can be attached to a point so it will drag - perhaps a schematic? 
		these objects, once added, should allow to click to edit, resize, minimize, or add photos to the notes, etc.
		as with rooms, when do they share points/walls?-->
  </div>
  <ion-list>
  	<item>
		<ion-button class="button button-right button-clear ion-flag" ng-click="togImport()">
	Flag Color</ion-button>
		
	</item>
	<br><br>

  	<item>
		<!-- <img style="width:100%;" src="{{testText}}"/> --> 
	</item>
  	<item>
  		<ion-button class="button button-block button-positive icon-left ion-ios7-camera-outline" ng-click="snapPicture(noteId)">Take Photo With Camera</ion-button>
	</item>
  	<item>
  		<ion-button class="button button-block button-positive icon-left ion-ios7-folder-outline" ng-click="picFromLocalFile(noteId)">Add Photo From File</ion-button>
	</item>	
	<item>
		 <textarea ng-model="room.note">I am not thinking about this right - maybe put it in for each object, only? 
             {{room.note}}</textarea> 
	</item>
  <item>
  <div style="position:absolute;top:200px;width:90%;">This should populate with the questions for this room
	   <img ng-src="{{newImgURI | trusted}}"> 
	  <img style="position:relative;width:100%;" id="wtf" src="{{testText | trusted}}"/> 
	  <!-- <img id="wtf" src="data:image/jpeg;base64,{{testText}}"/> -->
	   <p>{{testText}}</p> 
<!--      <img style="position:relative;width:100%;" ng-src={{testText | trusted}}/>-->
  </div>
</item>
  
</div>
    
  <!-- <ion-view title="Maps">
    <ion-content class="has-header padding scroll">
  	<div class="list">
  		<form name="myForm">
  			<item class="item item-icon-left"><i class="icon ion-chatbubble-working"></i>
  			<label class="item item-input">
  				<textarea ng-model="obj.text" name="posttext" rows="4"></textarea>
  			</label>
  			</item>
  			<div class="item">
  				<button class="button button-block button-positive icon-left ion-ios7-camera" ng-click="takePicture()">Camera</button>
  			</div>
  			<div class="padding">
  				<button class="button button-block button-positive icon-right ion-chevron-right" ng-disabled="!imp.text" ng-click="update(obj)">Upload</button>
  			</div>
  		</form>
  	</div>
    </ion-content>
  </ion-view> -->