<!--<span style="position:relative" hm-hold="svgEdit=!svgEdit" >Where are we?-->
<!--
what's going on with stacking contexts for z-index while dragging - should be on top!!
    <span ng-repeat="layoutObj in LayoutObject">
        {{layoutObj.name}}
    </span> 
giving viewbox a margin, but doing interior measures on 100%/

<div id="futureSettingsDiv" style="position:absolute;left:100px;">
    <input ng-model="gridSizeHt" size=8/><input ng-model="gridSizeWd" size=8/>
    Snap?<input type="checkbox" ng-model="snapToGrid" name="Grid-Snap"/>
    <p>height/width (percent of view is calculated</p>
</div>

             
-->

        <svg id="floor-container" 
             ng-attr-height="2000px" 
             ng-attr-width="2000px" 
             viewBox="0 0 2000 2000" 
             hm-dragend="dragGrid($event)">
<!--
            <svg x="444" y="444">
                <g ng-include="'img/window.svg'"></g></svg>
-->
            <g ng-show="gridShow5" 
               stroke="#6bea3b" 
               stroke-dasharray="5,5,5,5,5,5" 
               fill="#fcfbfa" 
               fill-opacity="0.2" 
               stroke-width="1">
                <animate ng-if="dragtheGrid" attributeType="CSS" attributeName="stroke-dasharray" 
         from="5,5,5,5,5,5" to="2,2,2,2,2,2" dur="16s" repeatCount="indefinite" />
                <line ng-repeat="gridpt in gridLineNumber(gridSizeHt,50)" ng-attr-x1="{{gridpt}}" y1="0" ng-attr-x2="{{gridpt}}" y2="2000" />
                <line ng-repeat="gridpt in gridLineNumber(gridSizeHt,50)" x1="0" ng-attr-y1="{{gridpt}}" x2="2000" ng-attr-y2="{{gridpt}}" />            
            </g>     
            <g 
               ng-show="gridShow1" stroke="#6bea3b" stroke-dasharray="2,2,2,2,2,2" fill="#fcfbfa" fill-opacity="0.2" stroke-width=".2">
                <line ng-repeat="gridpt in gridLineNumber(gridSizeHt,10)" ng-attr-x1="{{gridpt}}" y1="0" ng-attr-x2="{{gridpt}}" y2="2000" />
                <line ng-repeat="gridpt in gridLineNumber(gridSizeHt,10)" x1="0" ng-attr-y1="{{gridpt}}" x2="2000" ng-attr-y2="{{gridpt}}" />            
            </g>  
            <g class="floorLines" stroke="#bb3bea" fill="none" fill-opacity="0.2" stroke-width="3">
<!--                <polygon points="10,10 150,10 150,150 10,150"/>-->
                <polygon class="floorShowline" 
                         ng-click="alert('whole rect')"
                         hm-dragend="dragFloors($event)"
                         ng-show="!svgEdit" 
                         hm-hold="svgEdit=!svgEdit" 
                         ng-attr-points="{{pointPath(floorPoints)}}"/>
<!--                <polygon class="floorEditline" ng-show="svgEdit" ng-attr-points="{{pointPath(floorPoints)}}"/>
                <line class="floorEditLine"
                      ng-show="svgEdit" 
                      ng-repeat="pointPairs in floorPoints"
                      hm-dragend = "dragLines($event)"
                      ng-attr-x1="{{floorPoints[$index][0]}}" ng-attr-y1="{{floorPoints[$index][1]}}" 
                      ng-attr-x2="{{floorPoints[$index+1][0]}}" ng-attr-y2="{{floorPoints[$index+1][1]}}"
                      />
-->
<!--
                <line class="floorEditLine"
                      ng-show="svgEdit" 
                      ng-click="alert('line')"
                      ng-repeat="pointPairs in floorPoints4Lines"
                      hm-dragend = "dragLines($event)"
                      ng-attr-x1="{{floorPoints4Lines[$index][0]}}" ng-attr-y1="{{floorPoints4Lines[$index][1]}}" 
                      ng-attr-x2="{{floorPoints4Lines[$index][2]}}" ng-attr-y2="{{floorPoints4Lines[$index][3]}}"
                      />
-->

            </g>
            <g class="roomLines" ng-repeat="room in currentFloor track by room">
                <polygon stroke="#2050ba" fill="#fcfbfa" fill-opacity="0.1" stroke-width="2" 
                         hm-pinch = "pinchResize($event)"
                         hm-hold="roomLineEdit=!roomLineEdit"
                         hm-drag = "dragShapes($event)"
                         class="roomShowLine" 
                         ng-show="!roomLineEdit" 
                         ng-attr-points="{{pointPath(currentFloor[$index].roomPoints)}}" 
                />
                
<!--
We want a pointPathDonut to go both directions, and get the donut so that you can only drag by the edges. dragShapes should only be in edit mode
Too many iterations for Angular: [$rootScope:infdig] 10 $digest() iterations reached. Aborting! 
I think this is logically the right way to track points as lines, but it's too much to process.
                <line stroke="#2050ba" stroke-width=".5" ng-repeat="line in roomLines(currentFloor[$index].roomPoints)"
                      ng-show="roomLineEdit"
                      hm-hold="addPoint($event)"
                      ng-attr-x1="{{line[0][0]}}"
                      ng-attr-y1="{{line[0][1]}}"
                      ng-attr-x2="{{line[1][0]}}"
                      ng-attr-y2="{{line[1][1]}}"
                />
-->
                <polygon stroke="#ba4920" fill="#fcfbfa" fill-opacity="0.1" stroke-width="2"
                         stroke-dasharray="3,3,3,3,3,3"
                         hm-dragstart = "dragLineStart($event)"
                         hm-drag = "dragLines($event)"
                         hm-double-tap = "addPoint($event,currentFloor[$index].roomPoints)"
                         hm-hold="roomLineEdit=!roomLineEdit"
                         class="roomEditLine" 
                         ng-show="roomLineEdit" 
                         ng-attr-points="{{pointPath(currentFloor[$index].roomPoints)}}" 
                />
<!--
                <path stroke="#ba4920" fill="none" stroke-width="2"
                        ng-show="roomLineEdit"
                        ng-attr-d="{{addMeasures(currentFloor[$index].roomPoints)}}" />
-->
                <circle ng-repeat="(i, vals) in currentFloor[$index].roomPoints"
                        hm-drag = "dragPoints($event,i)"
                        ng-show="roomLineEdit"
                        class="roomEditLine"
                        ng-attr-cx="{{vals[0]}}"
                        ng-attr-cy="{{vals[1]}}"
                        r = 6
                />
                
                <text ng-repeat="(ind,vals) in currentFloor[$index].measurePoints track by ind"
                      ng-show="roomLineEdit"
                      ng-attr-x="{{vals[0]}}"
                      ng-attr-y="{{vals[1]}}"
                      font-size="16"
                        >{{vals[2]+' ft'}}</text>
                
                <svg ng-repeat="(i,vals) in layoutObjs"
                       ng-attr-x="{{vals[0]}}"
                       ng-attr-y="{{vals[1]}}"
                       ng-include="'img/'+vals[2]+'.svg'"
                       ></svg>
                
<!--                <text   
                      ng-repeat="(i, vals) in currentFloor[$index].roomPoints"
                      ng-attr-x="{{vals[0]}}"
                      ng-attr-y="{{vals[1]}}"
                      font-size="40"
                      >{{i}}</text>
-->
                <!--
<g ng-include="'img/trash.svg'"></g>

For room in currentFloor, but needs to have gone through separate scope
Instead of separate scope, can just keep them straight as they're added by points - then have functions that rearrange them in the controller
hm-dragend = "dragShapes($event)"
                         hm-drag = "dragShapes2($event)"

                        hm-dragend="dragAloneRoom($event,i,vals)"
hm-dragstart = "dragRecord($index)"
-->
<!--
                <path ng-repeat="i in [0,1,2,3]" 
                      ng-attr-d="{{'M'+currentFloor[$index].roomPoints[i][0]+20+' '+currentFloor[$index].roomPoints[i][1]+20+' '+
                                 currentFloor[$index].roomPoints[3][0]+' '+currentFloor[$index].roomPoints[3][1]}}" />
-->
            </g>
<!--        <svg ng-attr-height="{{floorHeight()}}" width="{{floorWidth()}}" viewBox="0 0 100 100" >-->
            
            
<!--
            <g ng-show="svgEdit" ng-repeat="points in floorPoints" stroke="#BC9D73" stroke-dasharray="10,5,5,5,5,10" fill="#F5F0EA" fill-opacity="0.8" stroke-width="1">
                <circle hm-dragend='dragAlone($event,$index)' ng-attr-cx={{points[0]}} ng-attr-cy={{points[1]}} r="6" />
            </g>
-->
            
            

        </svg>