<div id="wrapper"> 

<!--
    <div ng-include="'partials/topMenu.html'">
    </div>
-->
        
        <div id="smallWrap" 
             ng-if="hideFloor"
             style="position:absolute;width:280px;height:130px;overflow:hidden;">
            <ion-nav-view id="floor-wrap-small" 
                 style="position:absolute;width:280px;height:280px;" 
                 name="floor">
            </ion-nav-view>
        </div>

    
    <div id="grid-container">
        <ion-nav-view id="floor-wrap" name="floor"></ion-nav-view>
<!--        <div ng-include="'partials/floor.html'"></div>-->
<!--
        <div id="floor-wrap" ui-view="floor">
        </div>
-->
    </div>
    <div id="noteBox" ng-show="showNote">
        <div id="noteTopBar">
            <img ng-src="{{noteIcon}}" /> 
            <img href=""
                 style="display:none;position:absolute;width:60px;height:60px;float:right;" 
                 id="smallImage" 
                 src="" />
            <img id="cameraIcon" 
                 ng-click="takePicture()"
                ng-src="img/camera.png"/>
            <span id="noteClose"
                  ng-click="showNote = !showNote">X</span>
        </div>
        <textarea id="noteText"
                  ng-click="focus()"
                  ng-model="note">

        </textarea>
    </div>
    
    <div id="floor-controls" >
        
        <div id="mag-controls" grid-manip>
        <img ng-click="hideFloor = !hideFloor"
             ng-dblclick="gridDrag()" 
                style="width:20px"
                 ng-src="img/gridDrag.png" />
        <img id="magnifySmaller" 
                 ng-click="magnifyGrid(.5)"
                 ng-src="img/magnify.png" />
        
        <img id="magnifyLarger" 
                 ng-click="magnifyGrid(2)"
                 ng-src="img/magnify.png" />
        </div> 
            <select ng-model="floor" 
                required
                style="float:right"
                ng-change="newFloor(floor)"
                ng-options="floor for floor in floorLists">
            <option value="">-- choose floor --</option>
        </select>
        <br>
        <select ng-model="room" 
                style="float:right"
                required
                ng-change="newRoom(room)"
                ng-if="(floor)"
                ng-options="room for room in roomLists">
            <option value="">-- choose room --</option>
        </select>
         
        </div>

    <div ui-view="questions"></div>
		 

	<div id="side_tabs" ng-controller="tabCtrl">
		<span class="side_tabs" ng-repeat="tab in tabs"><a ui-sref="questions.tabs({tabId: tab.id})"><img ng-src="{{tab.imageUrl}}"></a></span>
	</div>	

    
</div>