<link rel="stylesheet" href="css/app.css">

<div id="wrapper"> 

    <div id="menu_bg"></div>  
    
    <div id="menu_green" ng-controller="myCtrl">
    	<span class="menu_green" ng-repeat="icon in icons3"><img ng-src="{{icon.src}}"></span>
    </div>
    
    <div id="menu_black" ng-controller="myCtrl">
     	<span class="menu_black" ng-repeat="icon in icons2"><img ng-src="{{icon.src}}"></span>
    </div>
    
    <div id="menu_yellow" ng-controller="myCtrl">
    	<span class="menu_yellow" ng-repeat="icon in icons"><img ng-src="{{icon.src}}"></span>
    </div>
    
    <div id="menu_yellow_sq"></div>
    
    <div id="grid_sizes">
		<span class="grid_sizes"><img src="img/gridx1.png"></span>
		<span class="grid_sizes"><img src="img/gridx2.png"></span>
		<span class="grid_sizes"><img src="img/gridx3.png"></span>
    </div>
    
    <div id="calendar">
    	<a ui-sref="camera"><span class="calendar">camera</span></a>
    </div>
    
    <div id="roomlabel">
    	<span class="roomlabel"><img src="img/roomlabel.png"></span>
    </div>
    
    <div id="top_label">
    	<img class="top_label" src="img/extview.png">
    	<img class="top_label" src="img/addfloor.png"><div ui-view="q"></div>
    </div>


<div ng-controller="mainController">	
	
    <div id="side_tabs">
		<a ui-sref= "questions.first"><span class="side_tabs"><img src="img/sidetab1.png"></span></a>
		<a ui-sref= "questions.second"><span class="side_tabs"><img src="img/sidetab2.png"></span></a>
		<a ui-sref= "questions.third"><span class="side_tabs"><img src="img/sidetab3.png"></span></a>
		<a ui-sref= "questions.fourth"><span class="side_tabs"><img src="img/sidetab4.png"></span></a>
    </div>
    
    <div id="side_tab_summary">
        <a ui-sref= "questions.fifth"><img src="img/sidetab5.png"></a>
    </div>
	
</div>
	
	<img id="grid_bg" src="img/gridbg.png">
	<img id="menubg" src="img/menu_bg.png">
	
</div>




