<div id="wrapper"> 

    <div ng-include="'partials/topMenu.html'">
    </div>
    <div id="floorSelect" ng-show="newFloorOrRoom">
        <h3 >Select or Add Floor</h3>
        <h3 ng-repeat="room in rooms">{{room}}</h3>
        <select ng-model="floor" 
                required
                ng-change="newFloor(floor)"
                ng-options="floor for floor in floorLists">
        </select>
        <br>
        <h3>Select or Add Room</h3>
        <select ng-model="room" 
                required
                ng-change="newRoom(room)"
                ng-options="room for room in roomLists"></select>
        <br>
        <p>Inspection items are added to rooms on a floor. A quick press or click on a line makes it editable. In edit mode, a long press will add a new endpoint within the polygons. </p>
<!--        <div id="smallWrap" style="position:relative;width:280px;height:130px;overflow:hidden;">
        <div id="floor-wrap-small" style="position:absolute;width:280px;height:280px;" ui-view="floor"></div>
        </div>-->
        <div id="floor-controls">
            <img id="magnifyLarger" 
                 ng-attr-width="50px"
                 hm-tap="magnifyGrid(2)"
                 ng-src="img/magnify.png" />
            <img id="magnifySmaller" 
                 ng-attr-width="20px"
                 hm-tap="magnifyGrid(.5)"
                 ng-src="img/magnify.png" />
            <img hm-tap="gridDrag()" 
                 ng-src="img/gridDrag.png" />
        </div>
    </div>
    
    <div id="grid-container">
        <div id="floor-wrap" ui-view="floor">
        </div>
    </div>
    
<!--
    <br><br><br><br><br><br><br><br>{{showMeasurePoints}}

    <div ng-repeat="(key, value) in gesture">
        
        <b>Key:</b> {{key}} : {{value}}
</div>

    <div ng-repeat="(key, value) in touches">
       <b>Key:</b> {{key}} : {{value}}
</div>
    <div ng-repeat="(key, value) in touches1">
       <b>Key:</b> {{key}} : {{value}}
</div>
    -->
<!--
replace include with a ui-view
need: for floor in floors
    percentage slider?
    room/floor pull down
    icons to click or drag/drop
    editSvg as mode per object
         <span id="grid_container"></span> the newly inserted layoutObjects go here 
         <span class="display_icon" ng-repeat="layoutObj in layoutObjectModel.floor, etc."></span>
         <img id="grid" src="img/grid.png">
-->
     

    
<!--
	<div id="top_label">
    	<img class="top_label" src="img/extview.png">
    	<img class="top_label" src="img/addfloor.png"><div ui-view="q"></div>
    </div>
-->

    <div ui-view="questions"></div>
		 

	<div id="side_tabs" ng-controller="tabCtrl">
		<span class="side_tabs" ng-repeat="tab in tabs"><a ui-sref="questions.tabs({tabId: tab.id})"><img ng-src="{{tab.imageUrl}}"></a></span>
	</div>	
	
    
</div>