

<link rel="stylesheet" href="css/app.css">

<div id="wrapper"> 
    <!--will want all of these to be on same beginning page -->
     
    <a ui-sref="login">
        <div class="wrap">
  <div class="cube">
    <div class="front"><img class ="front_image" src="../img/logo_big.png"></div>
    <div class="back"><img class ="back_image" src="../img/camea.png"></div>
    <div class="left"><img class ="left_image" src="../img/calenar.png"></div>
    <div class="right"><img class ="right_image" src="../img/closebuton.png"></div>
  </div>
</div>
    </a>
    
    <img class="bg" src="img/bg.png">
     
</div>
