<style>
#inputboxSample{
	color: black; 
}
</style>


<div id="questions_first">
	
		<div id="questions">			
		    <div ng-repeat="question in questions"> 
				<h3>{{question.questionText}}</h3>
				
				<form name="chkbxForm" ng-controller="listController">
					<label ng-repeat="li in list track by li.id">
					 	<input type="checkbox" checklist-model checklist-value="li" update="sync()"> {{li.name}}
					</label>
					<p> <h5><u>Local List</u></h5>{{list}} </p>
					<p> <h5><u>Completed List</u></h5>{{listCompleted}} </p>
					<p> <h5><u>Sync List for Server</u></h5>{{listSync}} </p>
					<p> Reply from server not shown, but in console due to buggy nature of echoJSON php script. </p>					
				</form>

				<div ng-controller="inputBoxCtrl">
					<form name="commentForm" ng-submit="sync()">
						Optional Comment: <input type="text" id="inputboxSample" ng-model="list[0].stuff">
						<input id="inputboxSample" type="submit" value="Save" id="sync">
					</form>   
						<p> <h5><u>Local List</u></h5>{{list}} </p>
						<p> <h5><u>Completed List</u></h5>{{listCompleted}} </p>
						<p> <h5><u>Sync List for Server</u></h5>{{listSync}} </p>
						<p> Reply from server not shown, but in console due to buggy nature of echoJSON php script. </p>
				</div>

			</div><br>
		</div>
		
		<a ui-sref= "layout"><img class="close_button" ng-src="img/closebutton.png"></a>

    <div>
        <a href ng-click="goCats = !goCats"><img class="question_tabs" ng-src="img/tabs.png"></a>
        <a href ng-click="goCats = !goCats"><img class="question_tabs_2" ng-src="img/tabs.png"></a>
        <a href ng-click="goCats = !goCats"><img class="question_tabs_3" ng-src="img/tabs.png"></a>
        <a href ng-click="goCats = !goCats"><img class="question_tabs_4" ng-src="img/tabs.png"></a>
        <a href ng-click="goCats = !goCats"><img class="question_tabs_5" ng-src="img/tabs.png"></a>
    </div>


<div id="tabs_label">
<label>
    
    tab1
    tab2
    tab3
    tab4
    tab5   
    
    </label>
           </div>


    <div id="tab_popup">
        <p ng-show="goCats"> hello blah blah blah</p>
    </div> 


</div>





