<div class="bgimg">
    <span class="solid">
          closebuttonasdfghjklsdfyguimksdknvir
	nvsewrhjkldsdkjhflasbglsdblgkjasbdfj
	asdhfkjsadhflkjashdflajsdhfkjashdf ljkahfdlashdfkjhadsfjhasdkjfhasldkjfhsdkjfhsakjdfhsdjfhasldfhlasjdfhlsjkdf
        <a ui-sref="layout">close</a>
        
		</span>
		<div>
			<a href ng-click="goCats = !goCats">show/hide</a>
		</div>



		<div>
			<img ng-src="http://i.imgur.com/vkW3Lhe.jpg" 
				 ng-show="goCats">
		</div>

</div>



  <!--div class="well" style="margin-top: 30px; width: 200px; overflow: hidden;">
    <form class="form-search"> 
        <div class="input-append">
          <input type="text" ng-model="search" class="search-query" style="width: 80px">
          <button type="submit" class="btn">Search</button>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ng-animate="'animate'" ng-repeat="name in names | filter:search">
            <a href="#"> {{name}} </a>
          </li> 
      </ul>
    </form>
  </div>
</body>

