<style>
#questions_sample{text-decoration: none; 
width:1000px;
height:800px;
   overflow-y: scroll;
    overflow-x: hidden;}

</style>


<div class="bgimg">
	
	<div id="questions_sample"> <!--in line css-->
		<ul ng-controller="questionsController3">
			<li ng-repeat="question in questions | orderBy:orderProp">
			  <p>{{question.questionText}}</p>
			</li>
		</ul>
	</div>
		
		<a ui-sref= "layout">close</a>

		<div>
			<a href ng-click="goCats = !goCats">show/hide</a>
		</div>



		<div>
			<img ng-src="http://i.imgur.com/vkW3Lhe.jpg" 
				 ng-show="goCats">
		</div>

</div>