<span style="position:relative">
<!--
what's going on with stacking contexts for z-index while dragging - should be on top!!
    <span ng-repeat="layoutObj in LayoutObject">
        {{layoutObj.name}}
    </span>
-->
        <svg height="210" width="500">
            <line x1="10" y1="10" x2="200" y2="10" style="stroke:rgb(255,0,0);stroke-width:4" />
            <polygon points="220,10 400,210 170,250 123,234 455,55" style="fill:lime;stroke:purple;stroke-width:1" />
            <ellipse cx="200" cy="80" rx="100" ry="100" style="fill:yellow;stroke:purple;stroke-width:2" />
            <path d="M150 0 L75 200 L225 200 Z" />
            <defs>
            <radialGradient id="grad1" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                <stop offset="0%" style="stop-color:rgb(255,255,255); stop-opacity:0" />
                <stop offset="100%" style="stop-color:rgb(0,0,255);stop-opacity:1" />
            </radialGradient>
            </defs>
            <ellipse cx="200" cy="70" rx="85" ry="55" fill="url(#grad1)" />
        </svg>
</span>