    <div id="menubg">  
		<div id="wrap_menus">
    <div id="minilogo" hm-tap="cons()">
  
<div class="wrapanimate2">
  <div class="cube2">
    <div class="front2"><img class ="front_image2" src="img/logo_big.svg"></div>
   
  </div>

</div>
</div>
<!--
			<div id="camera">
				<a ui-sref="camera"><img ng-src="img/camera.png"></a>
			</div>
-->
			<div id="menu_green">
                <img class="menu_icon" 
                      
                      ng-repeat="iType in icons"
                      hm-dragend="newObj(iType.icontype,$event)" 
                      hm-tap="newObj(iType.icontype,$event)"
                      ng-src="{{'img/'+iType.icontype+'.png'}}"
                      />
                
<!--                <svg ng-include="'img/door.svg'"></svg>-->
            </div>
<!--
            <div id="menu_yellow">
                <span class="menu_icon" 
drop-svg
                      ng-include="'img/flag.svg'"
                      >
                </span>
            </div>
-->
                    
<!--
			<div id="menu_green">
				<span class="menu_icon" ng-repeat="iType in icons3"> keeping draggable for now
                    <img hm-tap="newObj(iType.icontype)" hm-drag="{{iType.icontype}}" drag-save></span>
			</div>
-->

<!--
			<div id="menu_black">
				<span id="svgSelector" class="menu_icon"><img ng-src='img/pencil.PNG'/></span>
				<span class="menu_icon" ng-click="selectRule = !selectRule"><img ng-src='img/ruler.PNG'/></span>
				<span class="menu_icon" ng-click="selectErase = !selectErase"><img ng-src='img/eraser.PNG'/></span>
			</div>
-->
            
            
<!--
            <div id="pencil_popup" ng-show="selectSVG">
            	<span class= "pencil_popup"><img ng-src="img/solid_line.svg"></span>
                <span class= "pencil_popup"><img ng-src="img/dotted_line.svg"></span>
            
            </div>
-->

<!--			<span ui-view="svg_select" ng-show="selectSVG">It's not filling from the view</span>-->

<!--
			<div id="menu_yellow" >
				<span class="menu_icon" ng-repeat="flag in flagicons" hm-drag="{{flag.icontype}}" drag-save></span>
			</div>
-->
<!--
            <div id="floorChoice">
                <select ng-model="floor" 
                    ng-change="newFloor(floor)"
                    ng-options="floor for floor in floorLists">
                </select>
                <select ng-model="room" ng-options="room for room in roomLists"></select>
            </div>
-->
		<!--
			<div id="menu_green">
			   <span class="menu_icon" ng-repeat="iconT in icons3"><img hm-drag="{{iconT.icontype}}" drag-save></span>
			</div>
		-->

		<!--<div id="menu_yellow_sq" ="dragStay"></div>-->
<!--
                <div id="add_button">
        <span class="menu_icon"><img hm-tap="newFloorRoom()" src="img/addbutton.svg"></span>
        </div>
-->

        <div id="menu_trash">
        <span class="menu_icon">
<!--            <span ng-include="'img/trash.svg'"></span>-->
            <img ng-src="img/trash.png">
            </span>
        </div>

<!--
			<div id="grid_sizes">
				<span class="grid_sizes"><img hm-tap="magnifyGrid(2)" src="img/gridx1.png"></span>
				<span class="grid_sizes"><img hm-tap="magnifyGrid(.5)" src="img/gridx2.png"></span>
				<span class="grid_sizes"><img hm-tap="gridDrag()" src="img/gridx3.png"></span>
			</div>
-->


<!--
			<div id="roomlabel">
				<span class="roomlabel"><img src="img/roomlabel.png"></span>
			</div>
-->

		</div>
    </div>
    
    
<!--	<img id="grid_bg" src="img/gridbg.png">-->
       
<!--
	
	<div id="top_label">
    	<img class="top_label" src="img/extview.png">
    	<img class="top_label" src="img/addfloor.png"><div ui-view="q"></div>
    </div>
		 

	<div id="side_tabs" ng-controller="tabCtrl">
		<span class="side_tabs" ng-repeat="tab in tabs"><a ui-sref="questions.tabs({tabId: tab.id})"><img ng-src="{{tab.imageUrl}}"></a></span>
	</div>	
-->
	
</div>