/* app css stylesheet */




.container-fluid {
    position:absolute;
    top:250px;
    left:525px;

    
}

/* corbin css
*********************************************************************************************/

#main_menu{
    width: 225px;
    height:800px;
   z-index: 3;
   }

.bgg{position: absolute;
    top: 0px;
    left:0px;
    z-index:-333;
}
    
    
.logo {position:absolute;
    top:250px;
    left:490px;
    z-index: 10;
    }
    

/* logo page
*********************************************************************************************/
body{
    width: 1280px;
    height:800px;
    overflow-y: hidden;
    overflow-x: hidden;
    
}


#wrapper {width: 1280px;
    height:800px;
	min-width: 1280px;
    min-height: 800px;
    max-width: 1280px;
    max-height: 800px;
    background-color: Rgb(210,221,224);
}

    
    
.bg{position: absolute;
    top: 0px;
    left:0px;
}
    
    
#logo {position: absolute;
    top:1000px;
    left:100px;
    z-index: 10;
    }
    
#menu_{background-color: Rgb(22,167,112);
    width: 225px;
    height: 800px;
}
    


#login{position: absolute;
    top:170px;
    left:px;
}


#submit{position: absolute;
    top:120px;
    left:0px;
}


#preview{position: absolute;
    top:300px;
    left:0px;
}


/* beatles page
*********************************************************************************************/


#menu_bg{background-color: Rgb(22,167,112);
    width: 225px;
    height: 800px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index:1;
}


#menubg{ 
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:2;
}

   /* green menu
*********************************************************************************************/

 
 #menu_green {background-color:none;
     color: rgb(105,249,190);
     border: solid 3px;
     width: 78px;
     position: relative;
    top:-670px;
    left:120px;
     padding: 10px 10px 10px 10px;
     z-index:3;
     border-radius: 10px;
}

.menu_green{
    padding: 5px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}



/* black menu
*********************************************************************************************/

#menu_black{background-color:none;
    color: rgb(51,51,51);
    border: solid 3px;
    width: 78px;
    position: relative;
    top:-1115px;
    left:28px;
    z-index:3;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

.menu_black{
    padding: 5px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

/* yellow menu
*********************************************************************************************/


#menu_yellow{background-color:none;
     color: rgb(255,255,13);
     border: solid 3px;
    width: 78px;
     position: relative;
    top:-1082px;
    left:28px;
    z-index:3;
     padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

.menu_yellow{
    padding: 5px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}



/* roomlabel
*********************************************************************************************/

#calendar{background-color:none;
    color: none;
    width: 78px;
    position: absolute;
    top:40px;
    left:32px;
    z-index:3;
    padding: 10px 10px 10px 10px;
    
}

.calendar{
    padding: 5px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
            
}


#roomlabel{background-color:none;
     width: 200px;
     position: absolute;
    top:600px;
    left:35px;
    z-index:3;
     padding: 10px 10px 10px 10px;
}

.roomlabel{padding: 5px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}


#top_label{background-color:none;
     color: rgb(255,255,13);
    width: 500px;
     position: absolute;
    top:5px;
    left:500px;
    z-index:3;
     padding: 10px 10px 10px 10px;
}


.top_label{
    padding: 5px 100px 5px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}




/* grid sizes
*********************************************************************************************/

#grid_sizes{background-color:none;
    color: rgb(255,255,13);
    border: none;
    width: 225px;
    position: relative;
    top:-1000px;
    left:0px;
    z-index:3;
    padding: 10px 10px 10px 20px;
}

.grid_sizes{
    padding: 5px 5px 5px 5px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}


/* side tabs
*********************************************************************************************/

#side_tab_summary{
    background-color:none;
    color: rgb(255,255,13);
    border: none;
    width: 45px;
    position: absolute;
    top:650px;
    left:1238px;
    z-index:3;
    padding: 0px 0px 0px 0px;
    box-shadow: 0px 1px 10px 1px #888888;
}

#side_tabs{background-color:none;
    color: rgb(255,255,13);
    border: none;
    width: 45px;
    position: absolute;
    top:185px;
    left:1238px;
    z-index:3;
    padding: 0px 0px 0px 0px;
}

.side_tabs{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    box-shadow: 0px 1px 10px 1px #888888;
}



/* grid background
*********************************************************************************************/

#grid_bg{position: absolute;
    top:0px;
    left:223px;
    z-index:1;
}

/* questions
*********************************************************************************************/
.main_questions{
		position:absolute;
		left:225px;
		top:0px;
		height:800px;
		width:1055px;
}

.bgimg {
		background-color: rgb(105,249,190);
		position:absolute;
		left:-275px;
		top:-5px;
		height:800px;
		width:1055px;
	}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
  
.sample-show-hide {
    padding:10px;
    border:1px solid black;
    background:white;
  }

  .sample-show-hide {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
  }

  .sample-show-hide.ng-hide {
    opacity:0;
  }
    
