/* app css stylesheet */






/* corbin css
*********************************************************************************************/




#wrapperOLD {
    width: 100%;
    
    
}


.containerOLD{
    width: 100%;
}


.bggOLD{position: absolute;
    top: 0px;
    left:0px;
    z-index:-333;
}
    
    

    

/* logo page
*********************************************************************************************/
body{
    overflow:hidden;
}
bodyOLD{
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    
}

.bgOLD{
    position: absolute;
    top:0px;
    width: 100%;
    
}
    
    
.logo_main {position:absolute;
    width: 25%;
    z-index: 10;
    top:27%;
    left:37%
    
}
    
    


#login{position: absolute;
    top:;
    left:px;
}

.container-fluidOLD {
    width: 100%;
    position:absolute;
    margin: auto;
    padding:20% 42%;
    
    }

#submit{position: absolute;
    top:120px;
    left:0px;
}


#preview{position: absolute;
    top:300px;
    left:0px;
}

#menubg{ 
    background-image: url('../img/menu_bg.png');
    position: absolute;
    width:17%;
    top: 0px;
    left: 0px;
    z-index: 4;
    height:100%;
}

   /* green menu
*********************************************************************************************/

 
 #menu_green {
     background-color:none;
     color: rgb(105,249,190);
     border: solid 3px;
     min-width: 70px;
     width: 4%;
     position: relative;
     top:13%;
     left: 56%;
     z-index:10;
     border-radius: 10px;
     margin: 0% 0% 0% 0%;
}

.menu_icon{
    padding:10% 10% 10% 10%;
    display: block;
}



/* black menu
*********************************************************************************************/

#menu_black{
    background-color:none;
    color: rgb(51,51,51);
    border: solid 3px;
    min-width: 70px;
    width: 4%;
    position:relative;
    top: -36%;
    left: -3%;
    z-index:10;
    border-radius: 10px;
    margin: 0 30% 0 15%;
    padding: 0 0 0 0;
    
}

.menu_blackOLD{
    padding:10% 10% 10% 10%;
   display: inline-block;
}

/* yellow menu
*********************************************************************************************/


#menu_yellow{background-color:none;
     color: rgb(255,255,13);
     border: solid 3px;
     min-width: 70px;
     width: 4%;
     position: relative;
     top: -29.7%;
     left: -3%;
     z-index:10;
     border-radius: 10px;
     margin-left: 15%;
    font-size: 0px;
}

.menu_yellowOLD{
    padding:10% 10% 10% 10%;
   display: inline-block;
}

#menu_patternOLD{
    position:absolute;
    top:0px;
    left:-1px;
    box-shadow: 5px 0px 15px 1px #888888;
    z-index: 3;
    width: 17%
    
}


/* roomlabel
*********************************************************************************************/

#calendar{background-color:none;
    color: none;
    width: 78px;
    position:absolute;
    top:4%;
    left:14%;
    z-index:3;
    padding: 10px 10px 10px 10px;
    
}

.calendar{
   margin: 0px 0px 0px 0px;
    display: inline-block;
            
}


#roomlabel{background-color:none;
     width: 200px;
     position: absolute;
    top:64%;
    left:15%;
    z-index:3;
     padding: 10px 10px 10px 10px;
}

.roomlabel{padding: 5px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}


#top_label{background-color:none;
     color: rgb(255,255,13);
    width: 100%;
     position: absolute;
    top:0%;
    left:42%;
    z-index:3;
     padding: 10px 10px 10px 10px;
}


.top_label{
    padding: 5px 100px 5px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}




/* grid sizes
*********************************************************************************************/

#grid_sizes{background-color:none;
    color: rgb(255,255,13);
    border: none;
    width: 100%;
    position: relative;
    top:-19%;
    left:10%;
    z-index:3;
    padding: 0 0 0 0;
    margin:0 0 0 0;
}

.grid_sizes{
    padding: 4px 1px 4px 4px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}


/* side tabs
*********************************************************************************************/

#side_tab_summary{
    background-color:none;
    color: rgb(255,255,13);
    border: none;
    width: 45px;
    position: absolute;
    top:80%;
    left:96.5%;
    z-index:3;
    padding: 0px 0px 0px 0px;
    box-shadow: 0px 1px 10px 1px #888888;
}

#side_tabs{background-color:none;
    color: rgb(255,255,13);
    border: none;
    width: 45px;
    height:525px;
    position: absolute;
    top:15%;
    left:96.5%;
    z-index:3;
    padding: 0px 0px 0px 0px;
}

.side_tabs{
    padding:;
    margin: 10px 0px 0px 0px;
    display: inline-block;
    box-shadow: 0px 1px 10px 1px #888888;
}



/* grid background
*********************************************************************************************/
#grid_container{
    position: absolute;
    width:100%;
    top:0%;
    left:17%;
    z-index:1;
}
#grid_bgOLD{
    position: absolute;
    width:100%;
    top:0%;
    left:17%;
    z-index:1;
}



/* questions
*********************************************************************************************/
.main_questions{
		position:absolute;
		left:225px;
		top:0px;
		
}

.bgimg {
		background-color: rgb(105,249,190);
		position:relative;
        width: 100%;
		left:-24%;
		top:-10%;
		height:100%;
	}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
  
.sample-show-hide {
    padding:10px;
    border:1px solid black;
    background:white;
  }

  .sample-show-hide {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
  }

  .sample-show-hide.ng-hide {
    opacity:0;
  }
    








