/* app css stylesheet */






/* logo page
*********************************************************************************************/

#wrapper {
    width: 100%;
    
}

.logo_main {position:absolute;
    width: 25%;
    z-index: 10;
    top:27%;
    left:37%
}

.bg{
    position: fixed;
    width: 100%;
    z-index: 1;
   }


/* logo animation
*********************************************************************************************/

.wrap {
    position:absolute;
    top:27%;
  margin: 0 100px;
	-webkit-perspective: 800px;
	-webkit-perspective-origin: 50% 100px;
  /*border: 1px solid red;*/
  width: 100%;
  height: 300px;
  margin: 0;
  margin-top: 50px;
    z-index: 4;
}

.cube {
	position: relative;
  margin: 0 auto;
	width: 250px;
	-webkit-transform-style: preserve-3d;
  -webkit-animation: spin 3s 1 linear;
  /*border: 1px solid blue;*/
}

.cube div {
	position: absolute;
	width: 250px;
	height: 250px;
  
  /*border: 1px solid green;*/
  
  text-align: center;
  font-family: sans-serif;
  line-height: 250px;
  transition: background-color 1s ease;
}

.cube div:hover {
  background-color: rgba(255,0,38,0.25);
}

.back {
	-webkit-transform: translateZ(-150px) rotateY(180deg);
}

.right {
	-webkit-transform: rotateY(-270deg) translateX(150px);
	-webkit-transform-origin: top right;
}

.left {
	-webkit-transform: rotateY(270deg) translateX(-150px);
	-webkit-transform-origin: center left;
}

.top {
	-webkit-transform: rotateX(-90deg) translateY(-150px);
	-webkit-transform-origin: top center;
}

.bottom {
	-webkit-transform: rotateX(90deg) translateY(150px);
	-webkit-transform-origin: bottom center;
}

.front {

	-webkit-transform: translateZ(100px);
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotateY(0) }
  to { -webkit-transform: rotateY(360deg) }
}




/* image css
*********************************************************************************************/

.front_image{
   
    width: 250px;
	height: 250px;
}


.back_image{
    background-color: blue;
    width: 250px;
	height: 250px;
}



.right_image{
     background-color: green;
    width: 250px;
	height: 250px;
}



.left_image{
     background-color: red;
    width: 250px;
	height: 250px;
}



/* login page
*********************************************************************************************/

#login{position: absolute;
    top: 45%;
    left:39%;
    text-align: right;
    z-index: 2;
}

.loginbtn{
    position: absolute;
     left:39%;
    z-index: 2;
}

/* layout page
*********************************************************************************************/

#grid_bg{
    position: absolute;
    width:100%;
    top:0px;
    left: 0px;
    z-index:-2;
    opacity: .2;
}

#grid{
    position: absolute;
    width:100%;
    top:1%;
    left:9%;
    z-index:-2;
}



#menubg{ 
    background-image: url('../img/menu_bg.png');
    position: fixed;
    left:-1px;
    width:210px;
    height: 100%;
    z-index: 3;
    box-shadow: 0px 1px 10px 3px #888888;
}

#wrap_menus{
    position:relative;
    height:775px;
    z-index: 4;
    
}

#calendar{
   position:absolute;
    top:40px;
    z-index:10;
    margin: 0 0 0 37px;
    
}



#menu_green {
     background-color:none;
     color: rgb(105,249,190);
     border: solid 3px;
     width: 75px;
     position: relative;
     float:right;
    top:110px;
     z-index:10;
     border-radius: 10px;
    margin: 0 22px 0 0;
}


#menu_black{
    background-color:none;
    color: rgb(51,51,51);
    border: solid 3px;
    min-width: 70px;
    width: 75px;
    position:relative;
    float:left;
    top:110px;
    z-index:10;
    border-radius: 10px;
    margin: 0 0 0 22px;
}

#pencil_popup{
    border-color:rgb(255,255,13);
    background-color: rgb(105,249,190);
    border: solid 3px;
    width: 150px;
    height:100px;
    position:absolute;
    float:left;
    top:170px;
    z-index:10;
    border-radius: 10px;
    margin-left: 20px;
    }

.pencil_popup{
    text-align: center;
     padding:15px 10px 1px 7px;
    display: block;
    width:150px;
}


#menu_yellow{
    background-color:none;
     color: rgb(255,255,13);
     border: solid 3px;
     width: 75px;
     position: relative;
     float:left;
    top: 167px;
     z-index:10;
     border-radius: 10px;
     margin: 0 0 0 22px;
}



.menu_icon{
    padding:10% 10% 10% 10%;
    display: block;
}


#grid_sizes{
    width: 210px;
    position: relative;
    top:200px;
    left:20px;
    z-index:3;
    margin: 0 0 0 0;
     display: inline-block;
}

.grid_sizes{
    padding: 0px 4px 0px 4px;
   
}


#roomlabel{
    background-color:none;
     width: 200px;
     position: relative;
    top:80px;
    left:33px;
    z-index:5;
     padding: 10px 10px 10px 10px;
}

.roomlabel{
    padding: 5px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}


#side_tabs{background-color:none;
    border: none;
    width: 45px;
    height:525px;
    position: absolute;
    top: 160px;
    right:-3px;
    z-index:3;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    
}

.side_tabs{
    padding: 36px 0 38px 0;
    box-shadow: 0px 1px 10px 1px #888888;
}



/* questions layout
*********************************************************************************************/



#questions_first{
    text-decoration: none;
    font-family: sans-serif;
    
    color:#000;
    background-color:rgb(119,157,182);
    position: absolute;
    top:5px;
    right:43%;
    text-decoration: none; 
    width:82%;
    height:763px;
    overflow-y: hidden;
    overflow-x: hidden;
}


#questions{
    width: 95%;
    height:720px;
    padding: 25px;
     overflow-y: scroll;
}


.main_questions{
		position:absolute;
		left:225px;
		top:0px;
		
}

.bgimg {
		background-color: rgb(105,249,190);
		position:relative;
        width: 100%;
		left:-24%;
		top:-10%;
		height:100%;
	}



.close_button{
    position: absolute;
    top:0px;
    left:0px;
    width:35px;
}


.question_tabs{
    position: absolute;
    top:727px;
    left:0px;
    z-index: 10;
  
}


.question_tabs_2{
    position: absolute;
    top:727px;
    left:120px;
    z-index: 10;
  
}

.question_tabs_3{
    position: absolute;
    top:727px;
    left:240px;
    z-index: 10;
  
}


.question_tabs_4{
    position: absolute;
    top:727px;
    left:360px;
    z-index: 10;
  
}

.question_tabs_5{
    position: absolute;
    top:727px;
    left:480px;
    z-index: 10;
  
}





/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */


#submit{position: absolute;
    top:120px;
    left:0px;
}


#preview{position: absolute;
    top:300px;
    left:0px;
}


   

    
}
#svgSelector {
    cursor:pointer;
}




}

#menu_patternOLD{
    position:absolute;
    top:0px;
    left:-1px;
    box-shadow: 5px 0px 15px 1px #888888;
    z-index: 3;
    width: 17%
    
}

.bggOLD{position: absolute;
    top: 0px;
    left:0px;
    z-index:-333;
}
    
    

    


body{
    overflow:hidden;
}




/* roomlabel
*********************************************************************************************/







#top_label{background-color:none;
     color: rgb(255,255,13);
    width: 100%;
     position: absolute;
    top:0%;
    left:42%;
    z-index:3;
     padding: 10px 10px 10px 10px;
}


.top_label{
    padding: 5px 100px 5px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}




/* grid sizes
*********************************************************************************************/



/* side tabs
*********************************************************************************************/



/* grid background
*********************************************************************************************/
#grid_container{
    position: absolute;
    width:100%;
    top:0%;
    left:17%;
    z-index:1;
}







/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
  
.sample-show-hide {
    padding:10px;
    border:1px solid black;
    background:white;
  }

  .sample-show-hide {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
  }

  .sample-show-hide.ng-hide {
    opacity:0;
  }
    








